body {
    font-family: Poppins;
}

/*navBar*/
.altura-nav {
    height: 75px;
}
.list-nav {
    list-style: none;
    font-size: 18px;
    color: #000;
    line-height: 1;
    margin: auto;
    margin-right: 48px;
}
.btn-nav {
    width: 140px;
    height: 51px;
    border-radius: 2.25rem;
    margin-top: 14px;
    list-style: none;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 7px;
    border: none;
    background-color: #ff3e81;
}
.img-nav {
    margin-left: 110px;
    margin-right: 123px;
}
.img-primary-section {
    width: 100%;
}

/*fontes*/
.header-title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 75px;
    line-height: 1;
    color: #303669;
}
.header-subtitle {
    font-size: 27px;
    font-weight: 400;
    line-height: 1.5;
}
.header-title-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 15px;
}
