<div class="container col-sm">
    <div class="row">
        <div class="col-sm-6 pt-3" >
            <div class="flip-card mx-auto d-block" style="width: 25rem;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://www.freepnglogos.com/uploads/thinking-png/thinking-vexels-transparent-png-svg-download-32.png"
                            alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>O que é o coronavírus</h1>
                        <p>O coronavírus, que causa a doença covid-19, que faz parte da familia viral que provoca
                            infecções respiratorias. Na maioria das vezes são leves e moderadas porém a casos de
                            morte. O grupo de pessoas com mais facilidade de serem atingidas são: com imunidade
                            baixa, doenças cronicas - como por exemplo pessoas com diabetes e hipertenção e acima
                            dos 60 anos.</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm pt-3">
            <div class="flip-card mx-auto d-block" style="width: 25rem;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn2.iconfinder.com/data/icons/people-flat-design/64/Sick-Fever-Ill-Sickness-Patient-Sweating-Avatar-512.png"
                            alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>O coronavírus, que causa a doença covid-19, que faz parte da familia viral que provoca
                            infecções respiratorias. Na maioria das vezes são leves e moderadas porém a casos de
                            morte. O grupo de pessoas com mais facilidade de serem atingidas são: com imunidade
                            baixa, doenças cronicas - como por exemplo pessoas com diabetes e hipertenção e acima
                            dos 60 anos.</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container col-sm">
    <div class="row">
        <div class="col-sm-6 pt-3" >
            <div class="flip-card mx-auto d-block" style="width: 25rem;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://www.freepnglogos.com/uploads/thinking-png/thinking-vexels-transparent-png-svg-download-32.png"
                            alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>O que é o coronavírus</h1>
                        <p>O coronavírus, que causa a doença covid-19, que faz parte da familia viral que provoca
                            infecções respiratorias. Na maioria das vezes são leves e moderadas porém a casos de
                            morte. O grupo de pessoas com mais facilidade de serem atingidas são: com imunidade
                            baixa, doenças cronicas - como por exemplo pessoas com diabetes e hipertenção e acima
                            dos 60 anos.</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm pt-3">
            <div class="flip-card mx-auto d-block" style="width: 25rem;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://cdn2.iconfinder.com/data/icons/people-flat-design/64/Sick-Fever-Ill-Sickness-Patient-Sweating-Avatar-512.png"
                            alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>O coronavírus, que causa a doença covid-19, que faz parte da familia viral que provoca
                            infecções respiratorias. Na maioria das vezes são leves e moderadas porém a casos de
                            morte. O grupo de pessoas com mais facilidade de serem atingidas são: com imunidade
                            baixa, doenças cronicas - como por exemplo pessoas com diabetes e hipertenção e acima
                            dos 60 anos.</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>